<section id="sobremi" class="relative flex flex-col md:flex-row p-8 space-y-6 md:space-y-0 md:space-x-6">
  <div class="relative z-10 h-auto border-4 border-green-800 rounded-lg p-6 shadow-md w-full md:w-1/2 mt-10 mb-10 card-hover bg-gray-900">
    <img src="/fotos/nube.png" alt="Nube" class="cloud" />
    <h3 class="text-xl font-bold underline mb-4">Experiencia</h3> 
    <ul class="list-disc list-inside space-y-2">
      <li>Montaje y mantenimiento de equipo</li>
      <li>Sistemas operativos monousuario</li>
      <li>Redes locales</li>
      <li>Aplicaciones de ofimática</li>
      <li>Diseño de aplicaciones</li>
      <li>Creación de contenidos</li>
      <li>Nivel básico de programación Java</li>
    </ul>
  </div>

  <div class="relative z-10 flex flex-col space-y-6 w-full md:w-1/2 mt-10 mb-10">
    <div class="relative h-auto border-4 border-green-800 rounded-lg p-6 shadow-md card-hover bg-gray-900">
      <img src="/fotos/nube.png" alt="Nube" class="cloud" />
      <h3 class="text-xl font-bold underline mb-4">Sobre Mí</h3> 
      <p class="text-justify">Soy fiel a mi trabajo, La lealtad es lo primero. Bastante perseverante en mi trabajo, respetuoso y con el objetivo de hacer el trabajo lo mejor posible.</p>
    </div>

    <div class="relative h-auto border-4 border-green-800 rounded-lg p-6 shadow-md  card-hover bg-gray-900">
      <img src="/fotos/nube.png" alt="Nube" class="cloud" />
      <h3 class="text-xl font-bold underline mb-4">Formación Académica</h3> 
      <ul class="list-disc list-inside space-y-2">
        <li>IES COX, 1ºESO 2ºESO 3ºESO 4º ESO</li>
        <li>MORA, CURSO MANTENIMIENTO INFORMATICO</li>
        <li>IES SEQUEROS, FP SISTEMAS MICROINFORMATICOS Y REDES GRADO MEDIO</li>
        <li>EFA ELCAMPICO DAW GRADO SUPERIOR</li>
      </ul>
    </div>
  </div>
</section>