<footer id="contacto" class="footer flex flex-wrap justify-between items-start p-6 bg-transparent text-white relative">
  <div class="footer-left flex flex-col space-y-2 md:w-full lg:w-auto">
    <a href="/privacy-policy" class="footer-link text-green-500 hover:underline lg:block hidden">Política de privacidad</a>
    <p class="footer-copyright text-white text-sm lg:block hidden">© 2025 Alexandro, Todos los derechos reservados</p>
  </div>

  <div class="footer-right flex flex-col items-center text-center w-full space-y-2 md:items-center md:justify-center md:w-full lg:w-auto">
    <h3 class="footer-title text-green-500 text-lg font-semibold">Contacto</h3>
    <div class="footer-icons flex space-x-4 justify-center">
      <a href="https://twitter.com" target="_blank" class="footer-icon text-2xl hover:text-blue-500">
        <i class="fab fa-twitter"></i>
      </a>
     
      <a href="https://www.reddit.com" target="_blank" class="footer-icon text-2xl hover:text-orange-500">
        <i class="fab fa-reddit"></i>
      </a>
      <a href="mailto:miemail@example.com" class="footer-icon text-2xl hover:text-gray-300">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

    <p class="footer-copyright text-white text-xs md:text-[10px] lg:hidden md:hidden">
      © 2025 Alexandro, Todos los derechos reservados
    </p>
  </div>

  <p class="footer-copyright text-white text-sm md:block lg:hidden absolute bottom-4 left-4 text-xs md:text-[10px] hidden md:block">
    © 2025 Alexandro, Todos los derechos reservados
  </p>
</footer>
